{% extends "layout.html.jinja" %}

{% block title %}
Smart Clock Alarms
{% endblock title %}

{% block content %}
    <div class="card bg-dark">
        <div class="card-body">
            <div class="card-title">
                Saved Alarms
            </div>
            <div class="card-text table-responsive">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>Days</th>
                            <th>Time</th>
                            <th>Enabled</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alarm in alarms %}
                        <tr>
                            <td style="min-width: 130px;">
                                {% for day in days -%}
                                <div class="row no-gutter">
                                    <div class="col">
                                        <label for="{{ day }}-{{ alarm['id'] }}" class="form-check-label">{{ day }}</label>
                                    </div>
                                    <div class="col-1 col-md-4 col-lg-6">
                                        <input type="checkbox" id="{{ day }}-{{ alarm['id'] }}" {{ 'checked' if alarm['days'][day] else '' }} class="form-check-input" />
                                    </div>
                                </div>
                                {% endfor %}
                            </td>
                            <td>
                                <input type="time" id="time-{{ alarm['id'] }}" value="{{ alarm['time'] }}" class="form-control" style="max-width: 150px;" />
                            </td>
                            <td>
                                <label for="enabled-{{ alarm['id'] }}" class="form-check-label">Enabled</label>
                                <input type="checkbox" id="enabled-{{ alarm['id'] }}" {{ 'checked' if alarm['enabled'] else '' }} class="form-check-input" />
                            </td>
                            <td>
                                <button data-alarm-id="{{ alarm['id'] }}" class="btn btn-primary updateAlarmBtn">Save</button>
                                <button data-alarm-id="{{ alarm['id'] }}" class="btn btn-danger deleteAlarmBtn">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="card bg-dark">
        <div class="card-body">
            <div class="card-title">
                <a data-bs-toggle="collapse" href="#new-alarm-body">Create New Alarm</a>
            </div>
            <div class="card-text collapse" id="new-alarm-body">
                <div class="mb-3">
                    {% for day in days -%}
                    <div class="row no-gutter">
                        <div class="col-4 col-sm-3 col-md-2 col-xl-1">
                            <label for="{{ day }}-new" class="form-check-label">{{ day }}</label>
                        </div>
                        <div class="col-8 col-sm-9 col-md-10 col-xl-11">
                            <input type="checkbox" id="{{ day }}-new" class="form-check-input" />
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <div class="row no-gutter">
                        <div class="col-4 col-sm-3 col-md-2 col-xl-1">
                            <label for="time-new" class="form-label">Time</label>
                        </div>
                        <div class="col-8 col-sm-9 col-md-10 col-xl-11">
                            <input type="time" id="time-new" class="form-control" style="max-width: 150px;" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row no-gutter">
                        <div class="col-4 col-sm-3 col-md-2 col-xl-1">
                            <label for="enabled-new"class="form-check-label">Enabled</label>
                        </div>
                        <div class="col-8 col-sm-9 col-md-10 col-xl-11">
                            <input type="checkbox" id="enabled-new" checked class="form-check-input" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary saveAlarmBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block mainScript %}

    $('.updateAlarmBtn').click((e) => {
        let id = $(e.target).data('alarmId')

        let days = {}
        {% for day in days -%}
        days.{{ day }} = $(`#{{day}}-${id}`).prop('checked') 
        {% endfor %}
        let enabled = $(`#enabled-${id}`).prop('checked')
        let time = $(`#time-${id}`).val()

        let m = {
            type: "alarms",
            command: "update",
            id,
            days,
            time,
            enabled
        }
        console.log(m)
        ws.send(JSON.stringify(m))
        setTimeout(() => {
            location.reload()
        }, 500)
    })

    $('.saveAlarmBtn').click((e) => {
        let days = {}
        {% for day in days -%}
        days.{{ day }} = $(`#{{day}}-new`).prop('checked') 
        {% endfor %}
        let enabled = $('#enabled-new').prop('checked')
        let time = $('#time-new').val()

        let m = JSON.stringify({
            "type": "alarms",
            "command": "set",
            days,
            time,
            enabled
        })
        ws.send(m)
        setTimeout(() => {
            location.reload()
        }, 500)
    })
    
    $('.deleteAlarmBtn').click((e) => {
        let id = $(e.target).data('alarmId')

        let days = {}
        {% for day in days -%}
        days.{{ day }} = $(`#{{day}}-${id}`).prop('checked') 
        {% endfor %}
        let enabled = $(`#enabled-${id}`).prop('checked')
        let time = $(`#time-${id}`).val()

        let m = {
            type: "alarms",
            command: "delete",
            id,
            days,
            time,
            enabled
        }
        console.log(m)
        ws.send(JSON.stringify(m))
        setTimeout(() => {
            location.reload()
        }, 500)
    })
{% endblock mainScript %}