{% extends "layout.html.jinja" %}

{% block title %}
Smart Clock Settings
{% endblock title %}

{% block content %}
    <div>
        <form>
            <div class="form-field">
                <label for="format">Format</label>
                <select id="format">
                    <option value="12" {{ 'selected' if settings['format'] == '12' else '' }}>12 Hour</option>
                    <option value="24" {{ 'selected' if settings['format'] == '24' else '' }}>24 Hour</option>
                </select>
            </div>
            <div class="form-field">
                <label for="snoozeInterval">Snooze Interval</label>
                <input type="number" id="snoozeInterval" value="{{ settings['snoozeInterval'] }}" />
            </div>
            <div class="form-field">
                <label for="seconds">Seconds</label>
                <select id="seconds">
                    <option value="show" {{ 'selected' if settings['seconds'] == 'show' else '' }}>Show</option>
                    <option value="hide" {{ 'selected' if settings['seconds'] == 'hide' else '' }}>Hide</option>
                </select>
            </div>
            <button class="btn btn-primary" id="submitSettings">
                Save
            </button>
        </form>
    </div>
{% endblock content %}

{% block mainScript %}
    $('#submitSettings').click((e) => {
        e.preventDefault()
        let format = $('#format').val()
        let snoozeInterval = $('#snoozeInterval').val()
        let seconds = $('#seconds').val()
        let m = JSON.stringify({
            "type": "settings",
            format,
            snoozeInterval,
            seconds
        })
        ws.send(m)
    })
{% endblock mainScript %}