body {
    background: black;
}

.clock {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

#nextAlarm {
    padding: 10px;
    text-align: center;
    color: #17D4FE;
}

.time-input {
    width: 50px;
}

.btn-fill {
    width: 100%;
    margin: 5px 0;
}

.btn-tall {
    height: 220px;
}

.btn-tall2 {
    height: 120px;
}